/* Global */
.skip-link {
  left: -100%;
  position: absolute;
}

.skip-link:focus {
  left: 50%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
html,
body {
  font-size: 1rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ************************************************ */
/* NAVIGATION */
/* ************************************************ */
.topnav {
  background-color: #ffe81f;
  padding: 0 5%;
}

.menu li {
  padding: 5%;
}

.logo {
  color: #000;
  font-size: 1.5rem;
  padding: 2.5% 5% 2.5% 0;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 5% 2.5%;
}

.toggle {
  order: 1;
  font-size: 1.5rem;
}

.topnav-link {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.active .topnav-link {
  display: block;
}

.topnav-link a {
  color: #000;
  text-decoration: none;
}
.fa-bars {
  color: #000;
}

/* ************************************************ */
/* Grid */
/* ************************************************ */

/* .body-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
} */

/* Grid - Battle Page */
body {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 100%;
  grid-template-areas:
    'header'
    'main'
    'footer';
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

/* ************************************************ */
/* All -  Main */
/* ************************************************ */
main {
  background-color: #000;
  /* color: white; */
  color: #ffe81f;
}
.main-title {
  padding: 10%;
  display: flex;
  justify-content: center;
}

/* ************************************************ */
/* Home Page - Main */
/* ************************************************ */
/* Current Date Container */
.current-date {
  display: flex;
  justify-content: left;
}

/* Countdown Container */
.countdown-container {
  display: flex;
  justify-content: center;
}
.countdown-show {
  color: grey;
}
.countdown-days {
  display: flex;
  justify-content: center;
  color: #ffe81f;
}
/* Start/Battle button */
.start-container {
  display: flex;
  justify-content: center;
}
.start-link {
  font-size: 2rem;
  border-style: solid;
  background-color: #ffe81f;
  color: black;
  border-radius: 2.5%;
  text-decoration: none;
  padding: 2.5%;
}

/* ************************************************ */
/* Battle Page - Main */
/* ************************************************ */
.battle-main {
  display: grid;
  /* grid-template-rows: 20% 20% 20% 20% 20%; */
}

.card-title,
.char-name,
.battle-response-message {
  color: #ffe81f;
}

.char-attributes-list {
  color: white;
  border: 1px solid #ffe81f;
}

.left-card-container {
  margin-bottom: 1rem;
}

.right-card-container {
  margin-top: 1rem;
}

.gen-btn {
  font-size: 1.25rem;
}

.battle-btn-section {
  display: flex;
  justify-content: center;
}
.battle-btn {
  /* display: flex;
  justify-content: center; */
  font-size: 2rem;
  background-color: #ffe81f;
  color: black;
}

/* ************************************************ */
/* About Page - Main */
/* ************************************************ */
.about-main-desc {
  color: lightgrey;
}
.desc-span {
  color: #ffe81f;
}

/* ************************************************ */
/* Footer */
/* ************************************************ */

.footer {
  color: #000;
  background-color: #ffe81f;
  /* height: 2rem;
  padding-top: 0.5rem; */
}

/* ************************************************** */
/* ************** Desktop media query *************** */
/* ************************************************** */

@media screen and (min-width: 769px) {
  /* NAVIGATION */
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .logo {
    order: 0;
    align-self: flex-start;
  }

  .topnav-link {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .topnav-link a:hover {
    color: grey;
  }

  .toggle {
    display: none;
  }

  /* Main */
  .start-container a:hover {
    background-color: black;
    border-color: #ffe81f;
    color: white;
  }
  .btns-container button {
    opacity: 0.6;
    transition: 0.3s;
  }
  .btns-container button:hover {
    opacity: 1;
  }

  /* Grid Layout - Battle */
  /* .cards-container {
    display: grid;
    grid-template-columns: 5fr 0.5fr 5fr;
    grid-template-rows: 1;
    grid-template-areas: 'left btn right';
  }
  .left-card-container {
    grid-area: left;
  }
  .battle-btn-section {
    grid-area: btn;
  }
  .right-card-container {
    grid-area: right;
  } */

  /* Flexbox Layout - Battle */
}
